BasedOnStyle: WebKit
IndentWidth: 2
ColumnLimit: 120

BreakBeforeBraces: Stroustrup
    
IndentCaseLabels: false
InsertBraces: true
AccessModifierOffset: -2

BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: true
AllowShortFunctionsOnASingleLine: true
